
<div class="scrollfeed">
<ul class="routes_list list-group">
<% routes.each_with_index do |r, index| %>
<li class="list-group-item row-fluid clearfix" <% if @colors then %>style="color: <%= @colors[index] %>" data-color="<%= @colors[index] %>"<% end %>>
	<span class="col-md-10">De <%= r.start_address %> para <%= r.end_address %></span>
	
	<%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), route_path(r), :class => "show_map btn btn-primary", :title => "ver" %>
	<% if can? :manage, r %>
		<%= link_to raw('<span class="glyphicon glyphicon-edit"></span>'), edit_route_path(r), :class => "btn btn-primary", :title => "editar" %>
		
	<% end %>

<% end %>
<% if @routes.total_pages != @routes.current_page then %>
<li>
	<% @next_p = @routes.current_page + 1 %>
	<a href="?page=<%= @next_p %>" class="myscroll btn btn-success more">Mais</a>
</li>
<% end %>
</ul>
</div>

