<div class="col-md-8">
<%= render :file => 'uicomponents/menu', :locals => { :menu => "offer"} %>
<%= form_for @route, html: { role: "form"}  do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start_address %>
    <%= f.text_field :start_address, :class => "form-control", :placeholder => "Rua, número, bairro, cidade..." %>
  
    <%= f.label :end_address %>
    <%= f.text_field :end_address, :class => "form-control", :placeholder => "Rua, número, bairro, cidade..." %>
  </div>

  <a href="#" id="trace_route" class="btn btn-success">traçar rota</a>

<div style="display: block;">
    <%= f.text_field :start_point %>
    <%= f.text_field :end_point %>
    <%= f.text_field :path %>
    <%= f.text_field :steps %>
</div>

  <div id="route_steps_data" class="col-md-12">
    <ul class="list-group"></ul>
  </div>

  <footer class="col-md-12">
    <%= link_to 'Voltar', routes_path, :class => "btn btn-primary" %>
    <% if @route.id? then %>
    <%= link_to "apagar", route_path(@route), :method=> "delete", :class => "btn btn-danger" %>
    <% end %>
    <%= f.submit "salvar", :class => "btn btn-success" %>
  </footer>
<% end %>
</div>
<aside class="col-md-4">
  <div id="map_canvas" style="height:400px; border:1px solid #FF0000;" data-start="" data-end=""></div>
</div>
