<div class="col-md-12">
<%= render :file => 'uicomponents/menu', :locals => { :menu => ""} %>

<input type="hidden" value="<%= @route.start_point %>" id="route_start_point" />
<input type="hidden" value="<%= @route.end_point %>" id="route_end_point" />
<input type="hidden" value="<%= @route.path %>" id="route_path" />

<%= render :file => 'uicomponents/map' %>
<div class="route_data">
	<div id="route_steps_data">


	  <% if  @route.user.avatar_url then %>
	  <img src="<%= @route.user.avatar_url %>"  />
	  <% end %>
	  <%= @route.user.label %>
	  <i class="glyphicon glyphicon-envelope"></i> <%= @route.user.email %> - 
	  <i class="glyphicon glyphicon-earphone"></i> XXXX-XXXX - 

		<br /><span>Disponibilidade na semana:</span>
		<%
		days = [:mon, :tue, :wed, :thu, :fri, :sat, :sun]
		days.each do |d|
		key = "key_day_names." + d.to_s
		%>
		<%= if @route[d] then raw("<strong>" + t(key) + "</strong>") else t key end %>
		<% end %>

		<% if @route.observation then %>
		<br />
		<i class="glyphicon glyphicon-list-alt"></i> <%= @route.observation %>
		<% end %>


		<% if @route.is_favorited current_user then %>
	<%= link_to raw("<span class='glyphicon glyphicon-remove-circle'></span> desfavoritar"), favorite_route_path(@route), :class => "btn btn-danger favorite_item", :data => { :type =>"delete"} %>
		<% else %>
	<%= link_to raw("<span class='glyphicon glyphicon glyphicon-ok-circle'></span> favoritar"), favorite_add_route_path(@route), :class => "btn btn-success favorite_item", :data => { :type => "put" } %>
		<% end %>
	<br /><br />
	
	<ul>
	
	</ul>
</div>

</div>

